{{- $page := .page }}
{{- $content := .content }}
{{- with $page }}
          <article class="default">
{{ partial "heading-pre.html" . }}
<h1 id="{{ .Title | anchorize }}">{{ .Title }}</h1>
<p style="text-align: center;">{{ .Description }}</p>
{{ partial "heading-post.html" . }}
<h2>Sections</h2>
{{ partial "shortcodes/children.html" (dict
  "context" .
  "description" "true"
  "sort" "weight"
)}}
{{ $content | safeHTML }}
{{ partial "shortcodes/attachments.html" (dict
  "context" .
  "style" "secondary"
  "sort" "asc"
)}}
            <footer class="footline">
              {{- partial "content-footer.html" . }}
            </footer>
          </article>
{{- end }}
